Build/
.vs/

/External/*
!/External/glad/
!/External/glad/**
!/External/imgui/
!/External/imgui/**
!/External/mikktspace/
!/External/mikktspace/**


/Assets/*
!/Assets/Shaders/
!/Assets/Shaders/**

CMakeCache.txt
CMakeFiles/

vcpkg_installed/

*.sln
*.vcxproj*
*.user
*.msbuild*

*.exe
*.dll
*.lib
*.so
*.a
*.o
*.pdb

*.log
*.tmp
*.bak
*.swp

.DS_Store